<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
<system.serviceModel> 
  <services> 
    <service name="StockServiceLib.StockService"> 
      <endpoint address="" binding="netTcpBinding" contract="SharedLib.IStockService" /> 
      <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" /> 
      <host> 
        <baseAddresses> 
          <add baseAddress="net.tcp://localhost:977/StockService/"/> 
        </baseAddresses> 
      </host> 
    </service> 
  </services> 
  <behaviors> 
    <serviceBehaviors> 
      <behavior> 
        <serviceMetadata/> 
        <serviceDebug includeExceptionDetailInFaults="False"/> 
      </behavior> 
    </serviceBehaviors> 
  </behaviors> 
</system.serviceModel>
</configuration>